### Environment Files ###
**/env
*.env
docker/ecs/env-files
docker/local/env-files

terraform/testing.tfvars

### Mac OS Metadata ###
.DS_Store

### Terraform statefile and provider plugins ###
terraform/.terraform.lock.hcl
terraform/.terraform/*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
